<nav class="navbar navbar-light shadow-bottom d-flex flex-row">
    <form class="navbar-form navbar-left p-2">
        <div class="form-inline" style="margin-left: 10px; padding-left:10px;">
            <i class="fa fa-search" aria-hidden="true"></i>
            <input type="text" class="form-control" placeholder="Search">
        </div>
    </form>
    <div class="p-2 ml-auto">
        <a class="navbar-brand" href="#">
            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
            Cart (0)
        </a>
        <a class="navbar-brand" href="#">Check out</a>
    </div>    
</nav>

<router-outlet></router-outlet>